:root {
	/* variables definition */
	--user-margin: 33px; /* default-desktop: 33px, smallscreen: 0px*/
	
	--hoz-list-gap: 33px;
	--pc-content-width: 888px;

	--input-background-color: white;
	--input-box-padding: 6px 1rem 3px 1rem;

	font-size: 14px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
}

html {
	scroll-behavior: smooth;

	font-family: "Baskervville", serif;
	font-optical-sizing: auto;
	font-style: normal;

}

body {
	padding: 0 var(--user-margin, 8px);
	timeline-scope: --hero-action-timeline;
}


main {
	position: relative;
	min-height: 100svh;
	margin: 0 var(--user-margin, 9px);
}

picture {
	position: relative;
}

picture::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

picture img {
	position: absolute;
	object-fit: cover;
	max-width: 100%;
	height: 100%;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Inter", serif;
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: 0.03rem;
	cursor: pointer;
	background-color: transparent;
}

h2 {
	font-size: 1.6rem;
}

a, a:hover, a:visited {
	color: inherit;
	font-weight: 400;
	text-underline-offset: 2px;
}

input, textarea {
	background-color: var(--input-background-color);
	border: 0px;
	outline: 0px;
	width: 100%;
	padding: var(--input-box-padding);

	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

input[type="radio"] {
	width: auto;
}

input[type="button"] {
	min-height: 2.6rem;
	text-align: left;
}
input[type="button"]:hover {
	background-color: #33333344;
}

summary {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}/*--BEGIN--_utilities_--*/

.hide {
	display: none !important;
}

.no-decoration {
	text-decoration: none !important; 
}

.no-focus {
	color: grey !important;
}

.screen {
	animation: fadeIn 0.1s ease-in-out;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.inline-block {
	display: inline-block;
}

.blue {
	color: #0000ff !important;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.w-full {
	width: 100% !important;
	flex: 1 !important;
}

.w-160 {
	width: 16rem;
}

.cols-2 {
	border: none;
	padding: 0;
	gap: .625rem;
	grid-template-columns: 1fr 1fr;
}

.cols-2-auto {
	grid-template-columns: auto auto !important;
}

.mt-75 {
	margin-top: .75rem !important;
}

.mt-110 {
	margin-top: 1.1rem !important;
}

.mt-170 {
	margin-top: 1.7rem !important;
}

.mt-175 {
	margin-top: 1.75rem !important;
}

.mx-75 {
	margin-left: .75rem !important;
	margin-right: .75rem !important;
}

.my-100 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mx-full-1 {
	width: calc(100% + 1.5px) !important;
	margin-left: -.1px;
}

.px-100 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.gap-56 {
	gap: .5625rem !important;
}


@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*--END--_utilities_--*/
/*--BEGIN--_COMPONENTS_--*/

/*--BEGIN-- buttons--*/
.btn {
	padding: 1rem 2rem;
	background-color: black;
	color: white;
}

.more-btn {
	font-size: .81rem;
	font-weight: 500;
	border-bottom: 1px dashed black;
	width: min-content;
	padding-right: 10px;
	padding-bottom: 3px;
	cursor: pointer;
}

/*--END-- buttons--*/

/*--BEGIN-- inputs --*/
.input-container {
	position: relative;
	background-color: var(--input-background-color);
	padding: .625rem 0;
	border: 1px solid #505050 !important;
	min-height: 48px;
}

.input-wrapper {
	width: 100%;
	min-width: 60px;
	display: flex;
	align-items: end;
}

.input-wrapper>label, .input-wrapper>.spanlabel {
	transform: translateY(-155%);
}

@supports (selector(:placeholder-shown)) {

	.input-wrapper>label, .input-wrapper>.spanlabel {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	div[data-input-state].input-wrapper label,
	div[data-input-state].input-wrapper .spanlabel,
	.input-wrapper input:not(:placeholder-shown) ~ label,
	.input-wrapper:focus-within>label
        {
		margin-top: 4px;
		transform: translateY(-155%);
		font-size: smaller;
	}
}

/*.input-wrapper>input:not(:focus) {
	opacity: 0;
}*/

.input-container>input:focus {
    outline: none !important;
}
.composed-input {
	display: flex;
	gap: .5rem;
}

label, .spanlabel {
	font-family: "Arial", sans-serif;
	font-size: .9rem;
	letter-spacing: 0.5px !important;
	line-height: 15px !important;
	color: #08080888 !important;
	padding: 0 1rem;
}

/*--END-- composed input --*/

/*--BEGIN-- dropdown menu --*/
.slct-comp {
	position: relative;
	align-self: center;
	width: 100%;
	font-family: "Inter", serif;
	font-size: .8125rem;
	font-weight: 300;
	letter-spacing: 0.03rem;
	background-color: transparent !important;
}

.slct-label {
	display: inline-flex;
	width: 100%;
	align-items: center;
	gap: 12px;
	padding: 6px;
	border-bottom: solid 1px grey;
	cursor: pointer;
	list-style: none;
	background-color: inherit;
}

.slct-value {
	flex: 1;
	background-color:inherit;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.slct-label.form-input {
	border-bottom: 0px;
	background-color: inherit;
	padding: var(--input-box-padding);
}

.slct-overlay-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	
	background-color:var(--input-background-color);
	min-height: 0;
	max-height: 204px;
	
	display: grid;
	
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

details[open] .slct-overlay-wrapper {
	grid-template-rows: 1fr;
	opacity: 1;
}

.slct-content {
	margin: 0;
	padding: 0;
	width: 100%;
	
	overflow-y: auto;
	overflow-x: hidden;
	border: solid 1px gray;
}

.slct-content li {
	background-color: var(--input-background-color);
	list-style: none;
	padding: 6px 0 6px 12px;
	border-bottom: solid 1px grey;
}

.slct-content li.selected {
	background-color: grey;
	color: white;
}

.expand-top {
	top: 100%;
}

.expand-bottom {
	bottom: 100%;
}

.expand-arrow {
	width: 6px;
	height: 6px;

	transform: rotate(46deg);
	transition: transform 0.2s ease;
	
	display: inline-block;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: inherit;
	margin-bottom: 5px;
}

details[open] .expand-arrow {
	transform: rotate(-136deg);
	margin-top: 6px;
}

.expand-arrow.discrete {
	border-right: 1px solid;
	border-bottom: 1px solid;
}

details[open] .expand-arrow.discrete {
	margin-bottom: 0px;
}
/*--END-- dropdown menu --*/

/*--BEGIN-- hambuger --*/
.hamburger {
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger span {
    width: 100%;
    height: 1.5px; /* Thin, elegant lines */
    background-color: currentColor; /* Inherits text color */
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/*--END-- hamburger --*/

/*--BEGIN-- breadcrumb --*/
.breadcrumb {
	margin: 0 3px;
}

.breadcrumb .step {
	padding: 6px 0 6px 0;
	font-size: 0.75rem;
	font-family: "Ovo", serif;
	text-transform: uppercase;
	color: inherit;
}

.breadcrumb .separator::before{
	margin: 0 18px;
	color: gray;
	content: ">\2022<";
	font-size: 0.5rem;
}
/*--END-- breadcrumb --*/

/*--BEGIN-- slick-slider --*/
.slider-container {
	position: relative;
	height: auto;
	width: 100%;
	overflow-x: hidden;
}
.slick-slider {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 330px;
	grid-template-rows: 1fr;
	gap: 3rem;
	min-width: 0;
	width: max-content;
	padding: 0 48px;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.slick-slider::-webkit-scrollbar {
	display: none;
} /* Hide for Chrome/Safari */

/* Individual Service Card */
.card {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	transition: transform 0.3s ease;
}

.card-330 {
	width: 330px;
}

.card a {
	display: block;
	pointer-events: auto;
	outline: 0;
	text-align: left;
	text-decoration: none;
	color: inherit;
}

.card div.media-ratio {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 0;
	min-height: 1px;
}

.media-ratio-11 {
	padding-bottom: 100%;
}

.card figcaption {
	margin: 1rem 0;
}

.card h6 {
	margin: 10px 0;
	font-size: 1.4rem;
	font-family: "Cormorant Garamond"
}

.card h6.sm {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: "Baskerville", serif;
}

.card p.subtitle {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Ovo", serif;
	letter-spacing: 2px;
}

.card p {
	font-size: 0.9rem;
	opacity: 0.8;
}

.card-about {
	margin: 1rem 0;
}

.card-cta {
	margin: 1.3rem 0;
}

.card-price {
	font-family: "Ovo", serif;
}

/*--END-- slick-slider --*/

/*--END--_COMPONENTS_--*/
/*--BEGIN--_sections_--*/

/*--BEGIN-- navigation section --*/
.ardennes {
	margin: 15px 0 6px 0;
	text-align: center;
}

.nav-wrapper {
	pointer-events: none;
}

div.sens-nav-area {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	max-width: calc(var(--pc-content-width) * 1.2);
	width: 100%;
	height: 18vh;
	z-index: 999;
	pointer-events: auto;
	touch-action: none; /*?TODO*/
}

.nav-bar {
	display: grid;
	max-width: var(--pc-content-width, 880px);
	width: 100%;
	padding: 10px; /*?TODO*/
	visibility: visible;
	pointer-events: auto;

	position: absolute;
	z-index: 1000;
	left: 50%;

	background: rgba(255, 255, 255, 0.9); 
	backdrop-filter: blur(12px) saturate(160%);
	-webkit-backdrop-filter: blur(12px) saturate(160%); /* Safari support */
	border: 1px solid rgba(255, 255, 255, 0.3);
	
	opacity: 0;
	transform: perspective(1000px) translate3d(-50%, 0, -18px) rotateX(-9deg) scale(0.99);
	transition: 
		transform 0.66s ease-in, 
		opacity 0.33s ease-out;
}

.main-nav {
	grid-template-rows: 1fr 1fr;
}

.main-menu {
	display: grid;
	align-items: center;
	gap: var(--hoz-list-gap);
	grid-template-columns: auto auto auto;
}

.inner-menu {
	display: flex;
	align-items: center;
	gap: var(--hoz-list-gap);
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.settings-nav {
	grid-template-columns: auto auto;
	grid-template-areas: "logo settings";
	justify-content: space-between;
	align-items: center;
}

.settings-nav span.company-info {
	grid-area: logo;
	display: inline-block;
	height: 100%;
	padding-top: 6px;
}

.settings-nav div.inner-menu {
	grid-area: settings;
}

body[data-show-nav="true"].reveal-nav .main-nav,
body[data-show-nav="true"].reveal-nav .settings-nav,
body[data-show-nav="true"] .nav-wrapper:focus-within .nav-bar,
body[data-show-nav="true"] .nav-wrapper:has(.nav-bar:hover) .nav-bar {
	transform: perspective(1200px) translate3d(-50%, 0, 0) rotateX(0deg) scale(1);
	opacity: 1;
	
	transition: 
		transform 0.36s ease-in-out,
		opacity 0.33s ease-in;
}

body[data-show-nav="false"] .nav-wrapper,
body[data-show-nav="false"] .sens-nav-area,
body[data-show-nav="false"] .nav-bar,
body[data-show-nav="false"] #mobile-menu {
	visibility: hidden;
	pointer-events: none;
}
/*--END-- navigation section --*/

/*--BEGIN-- last-hero-action section --*/
#last-hero-section {
	min-height: calc( 100svh + var(--scroll-depth, 300svh));
	
	/*
	 * view-timeline-name: --hero-action-timeline;
	 * view-timeline-axis: block;
	*/
	
}

/*
 * .slick-slider {
	animation: scroll-slider linear both;
	animation-timeline: --hero-action-timeline;
	animation-range: contain 126px contain 100%;
}

 * @keyframes scroll-slider {
	to {
		transform: translateX(calc(-1 * var(--scroll-depth, 330px) - 126px));
	}
}
*/

.slick-slider {
	transform: translateX(var(--scroll-progress, 0));
}

/*
@keyframes fixed-frame-reveal {
	0% {
		transform: rotateX(-9deg) translateZ(-10px) scale(0.99);
		opacity: 0;
	}
	100% {
		transform: rotateX(-0deg) translateZ(0) scale(1);
		opacity: 1;
	}
}
*/

@keyframes framer-reveal {
	0% {
		transform: perspective(1000px) translateZ(-10px) scale(0.99);
	}
	100% {
		transform: perspective(1200px) translateZ(0) scale(1);
	}
}

@keyframes framer-obj-reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes shadow-lift {
	0% {
		transform: scale(0) translateY(0);
		opacity: 0.1;
	}
	50% {
		transform: scale(0.5) translateY(20px);
		opacity: 0.3;
	}
	100% {
		transform: scale(1) translateY(40px);
		opacity: 0.1;
	}
}

@keyframes shadow-swing {
	0%, 50%, 100% {
		transform: translateX(-10%);
	}
	25%, 75% {
		transform: translate(10%);
	}
}

.framer {
	margin: 18px 0;
	min-height: calc(100svh - 36px);
	background-color: white;
	transform-style: preserve-3d;
	transform-origin: bottom center;
	
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	
	/* 
	 * animation: framer-reveal linear both;
	 * animation-timeline: --hero-action-timeline;
	 * animation-range: contain 0% contain 57px;
	*/
}

.framer.slick-sticky {
	position: sticky;
	top: var(--slick-top, 18px);
}

.framer::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(166, 166, 166, 0.33);
	filter: blur(330px);
	z-index: -1;
	transform-origin: bottom center;
	pointer-events: none;
	will-change: transform, opacity;

	animation: shadow-lift linear both;
	animation-timeline: --hero-action-timeline;
	animation-range: contain 0% contain 30px;
}


.framer .framer-obj {
	animation: framer-obj-reveal linear both;
	animation-timeline: --hero-action-timeline;
	animation-range: contain 33px contain 57px;
	min-width: 0;
}

.framer .last-credits {
	align-self: end;
	border-right: 1px solid #eee;
}

.txt-block {
	margin: 6px 48px 9px 18px;
	text-transform: none;
	font-size: .9rem;
	line-height: 1.5em;
	font-family: "Ovo", serif;
	font-weight: 400;
	font-style: normal;
}

.framer .lang-nav {
	padding: 0 1.4rem;
}

/*--BEGIN-- > reserve section --*/
.hero-action {
	height: auto;
	margin: 0;
}

.hero-action .header {
	display: flex;
	flex-direction: column;
       	padding: 0 48px;
	margin: 1.5rem 0;
}

.hero-action .header .header-info {
	background-color: #ffffff77;
	padding: 1rem 14%;
	margin: .5625rem 0;
	text-align: center;
	font-size: 1rem;
	box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
}

.info-form {
	min-width: 330px;
	width: 100%;
	max-width: 650px;
	padding: 0 48px;
	margin-bottom: 4rem;
}

/*--END-- > reserve section --*/
/*--END-- last-hero-section section --*/

/*--END--_sections_--*/
/*--BEGIN--_layout_--*/

/* --- Desktop (default) --- */

.mobile-menu-header, #mobile-menu {
	display: none; /* Hidden by default */
}
/* --- End (default) --- */

@media (max-width: 1024px) {
	
	.hide-mobile {
		display: none;
	}

	.mobile-reverse-cols {
		flex-direction: column-reverse !important;
	}
	
	.framer::after {
		background-color: transparent ;
		filter: none;
	}
	
	.mobile-menu-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	
	.mobile-controls {
		display: flex;
		align-items: center;
		gap: var(--hoz-list-gap);
	}
	
	#mobile-menu {
		max-width: var(--pc-content-width, 880px);
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		padding: 20px 0;
		gap: 20px;
		border-top: 1px solid rgba(0,0,0,0.1);
	}

	#mobile-menu .inner-menu {
		flex-direction: column;
		align-items: flex-end;
		font-size: x-large;
		gap: 20px; /*?TODO*/
	}

	#mobile-menu .inner-menu,
	#mobile-menu .about-cookies {
		padding: 20px 70px 20px var(--user-margin);
	}
	
	.nav-wrapper {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		display: flex;
		flex-direction: column;
	}

	div.sens-nav-area, .nav-bar {
		position: relative;
		height: fit-content;
	}

	.main-nav { 
		grid-template-rows: 1fr;
	}	

	#mobile-menu {
		display: flex;
		visibility: hidden;
		pointer-events: none;
	}

	/* Reveal when active */
	#mobile-menu.active{
		visibility: visible;
		background-color: white;
		pointer-events: auto;
	}
}

@media (max-width: 768px) {

	:root {
		--user-margin: 0px;
	}

	.framer {
		grid-template-columns: 1fr;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	.slick-slider {
		padding: 0 36px 0 18px;
		gap: 33px;
	}

	.info-form {
		padding: 0 18px;
	}

	.hero-action .header {
		padding: 18px;
	}
	
	.hero-action .header h2 {
		margin: 0 0 .5625rem 0;
	}

}

@media (max-width: 560px) {
	.mob-w-full {
		grid-column:1 /-1;
	}

	.btn {
		width: 100%;
	}
}

@media (max-width: 480px) {
	
	.breadcrumb {
		margin: 0 0 8px 0;
	}

	.breadcrumb .step {
		text-transform: none;
	}

	.breadcrumb .separator::before {
		margin: 0 3px;
	}
}
/*--END--_layout_--*/
